footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

footer img {
    max-width: 100px;
}

.iconSocial{
    max-height: 30px;
}

.social a > .iconSocial{
    margin-right: 20px;
}

.social a{
    color: transparent;
}